
body {
background: #00161E;
font-family: 'Poppins', sans-serif;
color: white;
display: inline-block;
} 

.portada 
img	{
	width: 300px;
	height: 200px; 
	position: static;}	

.Título {
	font-size: xxx-large;
}

.introduccion {
	font-size: small;
}

p {
	font-size: large;
}

.cuerpo {
	margin-top: 270px;
	background-color: #00161E;
	display: inline-block;
	width: auto;
	text-align: justify;

}

.cuerpo h1 {
	font-size: xxx-large;
}

.paper {
	background-color:lightblue;
	width: 630px;
	text-align: left;
	color: #00161E;
	font-display: inline;
	position: static;
}

.proyecto {
	background-color: lightblue;
	width: 630px;
	text-align: left;
	margin-left: 650px;
	font-display: inline;
	margin-top: -472px;
	color: #00161E;
	position: static;
	
	}

.vínculo {
	margin-top: 170px;
	font-size: xx-large;
}

.conclusión{
	margin-top: 170px;
	font-size: xx-large;
}

.integrantes{
	margin-top: 270px;
	background-color: lightblue;
	color: #00161E;
}