
body {
margin: 0;
background: #00161E;

} 

.fotoportada {
	color: white;
	font-family: 'Poppins', sans-serif;
}

img{

	height: 800px;
	width: 1450px;
	position: relative;
}


.fotodiseñadora
img{

height: 50px;
width: 80px;
margin-top: 100px;

}

