
body {
background: #00161E;
font-family: 'Poppins', sans-serif;
color: white;
margin: 0;
} 

.Título {
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(50, 0, 0, 0.5)
    ), url("fondo.jpg");
	 background-size: cover;
	 height: 700px;
     background-attachment: fixed;
	font-size: xxx-large;
	text-align: center;}

	p {
		padding-right:50px;
		padding-left: 50px;
	}

.introduccion {
	font-size: small;}

	h2 {
		padding-left: 15px;}


	p {
	font-size: large;}

.cuerpo {
	margin-top: 270px;
	background-color: #00161E;
	display: inline-block;
	width: auto;
	text-align: justify;}

.cuerpo h1 {
	font-size: xxx-large;}

.paper {
	background-color:lightblue;
	width: 630px;
	text-align: left;
	color: #00161E;}

	img {
		border-radius: 50%;}

.proyecto {
	background-color: lightblue;
	width: 630px;
	text-align: left;
	margin-left: 700px;
	font-display: inline;
	margin-top: -543px;
	color: #00161E;
	position: static;
	padding: 20px;}

.vínculo {
	margin-top: 170px;
	font-size: xx-large;
}

.conclusión{
	margin-top: 170px;
	font-size: xx-large;}

.integrantes{
	margin-top: 270px;
	background-color: lightblue;
	color: #00161E;}